[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggathon = {editable = true, path = "."}
streamlit = "*"
argon2-cffi = "*"
pandas = "*"
bokeh = ">=2.1.1"
numpy = "*"
scikit-learn = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.11"
